<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-ui-components></app-ui-components>
    </div>
    <div class="col-sm-12">
      <app-alerts></app-alerts>
    </div>
    <div class="col-sm-12">
      <app-progressbar></app-progressbar>
    </div>
    <div class="col-sm-12">
      <app-checkbox></app-checkbox>
    </div>
    <div class="col-sm-12">
      <app-radio-buttons></app-radio-buttons>
    </div>
    <div class="col-sm-12">
      <app-select></app-select>
    </div>
    <div class="col-sm-12">
      <app-input></app-input>
    </div>
    <div class="col-sm-12">
      <app-badges></app-badges>
    </div>
    <div class="col-sm-12">
      <app-tooltip-triggers></app-tooltip-triggers>
    </div>
    <div class="col-sm-12">
      <app-switch></app-switch>
    </div>
  </div>
</div>