<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 box-col-12">
      <div class="card">
        <div class="card-header">
          <h4>MASONRY GALLERY</h4>
        </div>-
        <div class="card-body photoswipe-pb-responsive">
          <div class="my-gallery row grid gallery" id="aniimated-thumbnials" gallerize>
            <ngx-masonry [options]="masonryOptions" style="width: 100%;" [ordered]="true">
              @for (image of masonryImages; track image; ) {
              <div class="col-md-3 col-sm-6 grid-item" ngxMasonryItem>
                <a href="javascript:void(0)" itemprop="contentUrl">
                  <img class="img-thumbnail" [src]="image[1]" itemprop="thumbnail" alt="Image description">
                </a>
              </div>
              }
            </ngx-masonry>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>