<div class="card">
  <div class="card-header">
    <h4>Stacking Toasts</h4>
    <p class="f-m-light mt-1">
      You can stack toasts by wrapping them in a toast container, which will vertically add some
      spacing.<code>[toast-*]</code>through change icons colors.</p>
  </div>
  <div class="card-body toast-rtl">
    <div class="toast-container position-static">
      @for (item of stackingToastData; track item) {
      @if (item.show == true) {
      <div class="toast show">
        <div class="toast-header">
          <app-feather-icons [class]="item.iconColor" [icons]="'bell'"></app-feather-icons>
          <strong class="me-auto">{{item.title}}</strong><small class="txt-{{item.msgColor}}">{{item.time}}</small>
          <button class="btn-close" type="button" (click)="close(item.id)"></button>
        </div>
        <div class="toast-body toast-dark">{{item.bodyText}}</div>
      </div>
      }
      }
    </div>
  </div>
</div>