<div class="card">
  <div class="card-header card-no-border pb-0">
    <div class="header-top">
      <h4>Recent Customers</h4>
      <div class="dropdown icon-dropdown" (clickOutside)="clickOutside()">
        <button class="btn dropdown-toggle" id="userdropdown7" type="button" (click)="isShow = !isShow">
          <i class="icon-more-alt"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" [class.show]="isShow">
          <a class="dropdown-item" href="javascript:void(0)">Weekly</a>
          <a class="dropdown-item" href="javascript:void(0)">Monthly</a>
          <a class="dropdown-item" href="javascript:void(0)">Yearly</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pt-0">
    <ul class="recent-customers">
      @for (item of recentCustomers; track item) {
      <li class="d-flex align-items-center gap-2">
        <div class="flex-shrink-0">
          <img [src]="item.image" alt="">
        </div>
        <div class="flex-grow-1">
          <a [routerLink]="['/ecommerce/cart']">
            <h5>{{item.title}}</h5>
          </a>
          <p class="text-truncate">ID {{item.uid}}
            <span [ngClass]="item.id === 2 || item.id === 4   ? 'text-danger' :'text-success'">{{item.status}}</span>
          </p>
        </div>
        <div class="active-status active-online"></div>
        <div class="recent-text">
          <h5>${{item.price}}</h5>
          <p>{{item.time}} min ago</p>
        </div>
      </li>
      }
    </ul>
  </div>
</div>