<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-basic-card-child></app-basic-card-child>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-flat-card></app-flat-card>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-without-shadow-card></app-without-shadow-card>
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-icon-in-heading></app-icon-in-heading>
    </div>
    <div class="col-sm-12">
      <app-dark-color-card></app-dark-color-card>
    </div>
    <app-info-color-cards></app-info-color-cards>
  </div>
</div>