@for (item of data; track item) {
<div class="card height-equal">
    <div class="card-header">
        <h4>{{item.title}}</h4>
        <p class="f-m-light mt-1">
            @if (item.id === 1) {
            Use the <code>.switch-state </code>and <code>icon-state </code>through defined icons switches.
            }
            @if (item.id === 2) {
            Use the <code>.bg-*</code> class through created default switches.
            }
            @if (item.id === 3) {
            Use the <code>.switch-outline </code>and <code>.icon-state</code>class through created outline and
            icons.
            }
    </div>
    <div class="card-body common-flex flex-column switch-wrapper">
        @for (text of item.data; track text) {
        <div class="d-flex">
            <div class="{{item.class}}">
                <label class="switch mb-0">
                    <input type="checkbox" checked="">
                    <span class="switch-state bg-{{text.color}}"></span>
                </label>
            </div>
            <label class="col-form-label m-l-10">{{text.text}}</label>
        </div>
        }
    </div>
</div>
}