<div class="card">
    @for (allData of multipalBarData; track allData) {
    <div class="card-header">
        <h4>{{allData.header}}</h4>
        <p class="f-m-light mt-1" [innerHTML]="allData.desc"></p>
    </div>
    <div class="card-body progress-showcase">
        <div class="row">
            <div class="col">
                <div class="progress">
                    @for (data of allData.data1; track data) {
                    <div class="{{ allData.class }} bg-{{ data.colorClass }}" [ngStyle]="{ width : data.width }"></div>
                    }
                </div>
                <div class="progress">
                    @for (data of allData.data2; track data) {
                    <div class="{{ allData.class }} bg-{{ data.colorClass }}" [ngStyle]="{ width : data.width }"></div>
                    }
                </div>
            </div>
        </div>
    </div>
    }
</div>