<div class="card">
    <div class="profile-img-style">
        <div class="row">
            <div class="col-sm-8">
                <div class="d-flex">
                    <img class="img-thumbnail rounded-circle me-3" src="assets/images/user/7.jpg"
                        alt="Generic placeholder image">
                    <div class="flex-grow-1 align-self-center">
                        <h5 class="mt-0 user-name">JOHAN DIO</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 align-self-center">
                <div class="float-sm-end"><small>10 Hours ago</small></div>
            </div>
        </div>
        <hr>
        <p>Learn about local flora and fauna: Expand your knowledge of the natural world by learning about the
            plants, animals, and ecosystems in your area. Visit local nature centers, read books or online resources,
            or join guided nature walks to deepen your understanding.Participate in outdoor activities: Take part in
            activities that allow you to interact with nature actively. This could include gardening, birdwatching,
            cycling, or even outdoor yoga or meditation.Engage your senses: Explore nature with all your senses.
            Listen to the sounds of birds chirping or leaves rustling in the wind. Feel the texture of tree bark or
            the sensation of cool water on your skin. Observe the colors, shapes, and patterns in the environment.</p>
        <div class="like-comment mt-4">
            <ul class="list-inline">
                <li class="list-inline-item border-right pe-3">
                    <label class="m-0">
                        <a href="javascript:void(0)">
                            <i class="fa fa-heart"></i>
                        </a>Like</label>
                    <span class="ms-2 counter">2659</span>
                </li>
                <li class="list-inline-item ms-2">
                    <label class="m-0">
                        <a href="javascript:void(0)"><i class="fa fa-comment"></i></a>
                        Comment</label>
                    <span class="ms-2 counter">569</span>
                </li>
            </ul>
        </div>
    </div>
</div>