<div class="card">
  <div class="card-header">
    <h4 class="mb-0">Listing typography</h4>
    <p class="f-m-light mt-1">All typography list:- <code>&lt;ul&gt;</code>,<code>&lt;ol&gt;</code> &amp;
      <code>&lt;dl&gt;</code>
    </p>
  </div>
  <div class="card-body">
    <div class="row g-3">
      <div class="col-md-6 col-xxl-4">
        <div class="card-wrapper border rounded-3">
          <h6 class="sub-title fw-bold">Unorder list</h6>
          <ul>
            @for (data of listingTypographyUL; track data) {
            <li>{{ data.data }}</li>
            }
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-xxl-4">
        <div class="card-wrapper border rounded-3 h-100">
          <h6 class="sub-title fw-bold">Order list</h6>
          <ol>
            <li>UI Kits</li>
            <li>Bonus Ui</li>
            <li>Animations</li>
            <li>
              <ol>
                <li>Typography</li>
                <li>Avatars</li>
                <li>Grid</li>
                <li>Tag & pills</li>
                <li>Alert</li>
              </ol>
            </li>
            <li>Dropdown</li>
            <li>Tabs</li>
            <li>Accordion</li>
          </ol>
        </div>
      </div>
      <div class="col-md-12 col-xxl-4">
        <div class="card-wrapper border rounded-3">
          <h6 class="sub-title fw-bold">Description list</h6>
          <dl>
            @for (data of orderListData; track data) {
            <dt>{{ data.dt }}</dt>
            <dd>{{ data.dd }}</dd>
            }
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>