<div class="card">
  <div class="card-header">
    <h4>Offset</h4>
    <p class="mt-1 f-m-light">You can offset the grid column using <code>.offset-*</code> grid class.</p>
  </div>
  <div class="card-body grid-showcase">
    <div class="row g-2">
      @for (data of offsetGridData; track data) {
      <div class="{{ data.class }}"><span>{{data.text}}</span></div>
      }
    </div>
  </div>
  <div class="card-footer">
    <div class="table-responsive theme-scrollbar">
      <table class="w-100">
        <tbody>
          <tr>
            <th> Class</th>
            <th>Value of the class</th>
          </tr>
          <tr>
            <td><code>.offset-*</code></td>
            <td> 1 / 2 / ... / 11 / 12</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>