<div class="modal-content">
  <div class="col-xl-12">
    <div class="card social-profile mb-0">
      <div class="card-body">
        <div class="social-img-wrap">
          <div class="social-img">
            <img src="assets/images/other-images/profile.png" alt="profile">
          </div>
          <div class="edit-icon">
            <app-common-svg-icon [icon]="'profile-check'"></app-common-svg-icon>
          </div>
        </div>
        <div class="social-details">
          <h5 class="mb-1"><a [routerLink]="['/social-app']">Brooklyn Simmons</a></h5><span
            class="f-light">&#64;brookly.simmons</span>
          <ul class="social-follow">
            <li>
              <h5 class="mb-0">1,908</h5><span class="f-light">Posts</span>
            </li>
            <li>
              <h5 class="mb-0">34.0k</h5><span class="f-light">Followers</span>
            </li>
            <li>
              <h5 class="mb-0">897</h5><span class="f-light">Following</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>