<div class="card">
  <div class="card-header">
    <h5 class="mb-0">
      <button class="btn btn-link" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">Followers</button>
    </h5>
  </div>
  <div class="collapse show" id="collapseicon3" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card-body social-list filter-cards-view">
      @for (item of Followers; track item) {
        <div class="d-flex">
          <img class="img-50 img-fluid m-r-20 rounded-circle" alt="" [src]="item.profile">
          <div class="flex-grow-1">
            <span class="d-block">{{item.name}}</span><a href="javascript:void(0)">Add Friend</a>
          </div>
        </div>
      }
    </div>
  </div>
</div>