<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-12">
      <app-slides-only></app-slides-only>
    </div>
    <div class="col-xl-6 col-12">
      <app-with-controls></app-with-controls>
    </div>
    <div class="col-xl-6 col-12">
      <app-auto-play-variant></app-auto-play-variant>
    </div>
    <div class="col-xl-6 col-12">
      <app-mouse-wheel-variant></app-mouse-wheel-variant>
    </div>
    <div class="col-xl-6 col-12">
      <app-with-indicators></app-with-indicators>
    </div>
    <div class="col-xl-6 col-12">
      <app-with-captions></app-with-captions>
    </div>
    <div class="col-xl-6 col-12">
      <app-cross-fade></app-cross-fade>
    </div>
    <div class="col-xl-6 col-12">
      <app-dark-variant></app-dark-variant>
    </div>
  </div>
</div>