<div class="header-faq">
    <h5 class="mb-0">Latest articles and videos</h5>
</div>
<div class="row">
    @for (allData of data; track allData) {
    <div class="col-xl-4 {{allData.class}}">
        <div class="row">
            @for (data of allData.data; track data) {
            <div class="{{data.class}}">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex gap-3">
                            <app-feather-icons [icons]="data.icon"></app-feather-icons>
                            <div class="flex-grow-1">
                                <h5 class="pb-2 f-w-600">{{data.title}}</h5>
                                <p>{{data.desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    }
</div>