<div class="card">
  <div class="card-header">
    <h4>
      Global configuration of typeaheads</h4>
    <p class="f-m-light mt-1">This typeahead shows a hint when the input matches because the default values have been customized./p>
  </div>
  <div class="card-body">
    <div id="typeahead-prevent-manual-entry">
      <form class="theme-form">
        <div>
          <input class="typeahead form-control" type="text" placeholder="Search for a stete" [ngbTypeahead]="search">
        </div>
      </form>
    </div>
  </div>
</div>