<div class="container-fluid">
    <div class="row g-0">
      <div class="col-xxl-3 col-xl-4 col-md-5 box-col-5">
        <app-chat-filter></app-chat-filter>
      </div>
      <div class="col-xxl-9 col-xl-8 col-md-7 box-col-7">
        <div class="card right-sidebar-chat">
          <div class="right-sidebar-title">
            <div class="common-space"> 
              <div class="chat-time"> 
                <div class="active-profile">
                  <img class="img-fluid rounded-circle" src="assets/images/blog/comment.jpg" alt="user">
                  <div class="status bg-success"></div>
                </div>
                <div> <span>Darrell Steward</span>
                  <p>Online </p>
                </div>
              </div>
              <div class="d-flex gap-2">
                <div class="contact-edit chat-alert"><i class="icon-info-alt"></i></div>
                <div class="contact-edit chat-alert">
                  <app-common-svg-icon [class]="'dropdown-toggle'" [icon]="'menubar'" (click)="isShow =!isShow"></app-common-svg-icon>
                  <div class="dropdown-menu dropdown-menu-end chatMenu" [class.show]="isShow">
                    <a class="dropdown-item" href="javascript:void(0)">View details</a>
                    <a class="dropdown-item" href="javascript:void(0)">Send messages</a>
                    <a class="dropdown-item" href="javascript:void(0)">Add to favorites</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-sidebar-Chats"> 
            <app-chat-box></app-chat-box>
          </div>
        </div>
      </div>
    </div>
  </div>