<div class="card">
  <div class="card-header">
    <h4>Variation checkbox </h4>
    <p class="f-m-light mt-1">
      We can create any creative design by using <code>(type='checkbox')</code>attribute.</p>
  </div>
  <div class="card-body">
    <div class="row g-3">
      @for (allData of variationCheckbox; track allData) {
      <div class="col-xl-4 col-md-5">
        <div class="card-wrapper border rounded-3 h-100 checkbox-checked">
          <h6 class="sub-title">{{allData.title}}</h6>
          @for (data of allData.data; track data) {
          <div class="payment-wrapper">
            <div class="payment-first">
              <div class="form-check checkbox checkbox-{{data.color}}">
                <input class="form-check-input" id="{{data.id}}" type="checkbox" [checked]="data.checked">
                <label class="form-check-label mb-0" for="{{data.id}}">{{data.text}} </label>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
      }
      <div class="col-xl-8 col-md-7">
        <div class="card-wrapper border rounded-3 h-100 checkbox-checked">
          <section class="main-upgrade">
            <div> <i class="fa fa-rocket"></i>
              <h5 class="mb-2">It&apos;s time to <span class="txt-primary">upgrade</span></h5>
              <p class="text-muted mb-2">Select the theme that best suits your requirements, and you're ready to go!</p>
            </div>
            <div class="variation-box">
              @for (data of themeSale; track data) {
              <div class="selection-box">
                <input id="{{ data.id }}" type="checkbox" [checked]="data.checked">
                <div class="custom--mega-checkbox">
                  <ul class="d-flex flex-column">
                    <li>{{ data.text }}</li>
                    <li class="txt-primary">{{ data.sale }} Sales</li>
                  </ul>
                </div>
              </div>
              }
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>