<div class="card height-equal">
  <div class="card-header">
    <h4>Basic floating input control</h4>
    <p class="f-m-light mt-1">
      Give textual form controls like <code>&lt;input&gt;</code>s and <code>&lt;textarea&gt;</code>s an upgrade
      with custom styles, sizing, focus states, and more.</p>
  </div>
  <form class="form theme-form" ngNativeValidate>
    <div class="card-body custom-input">
      <div class="row">
        <div class="col">
          <div class="mb-3 row">
            <label class="col-sm-3">Valid input </label>
            <div class="col-sm-9">
              <div class="form-floating">
                <input class="form-control" id="floatingInputValue" type="email" placeholder="name@example.com"
                  value="test@example.com">
                <label for="floatingInputValue">Input with value</label>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3">Invalid input </label>
            <div class="col-sm-9">
              <div class="form-floating">
                <input class="form-control is-invalid" id="floatingInputInvalid" type="email"
                  placeholder="name@example.com" value="test@example.com">
                <label for="floatingInputInvalid">Invalid input</label>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3">Comments</label>
            <div class="col-sm-9">
              <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea" ></textarea>
                <label for="floatingTextarea">Comments</label>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3">Email</label>
            <div class="col-sm-9">
              <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" type="email">
                <label for="floatingInput">Email address</label>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3">Password</label>
            <div class="col-sm-9">
              <div class="form-floating">
                <input class="form-control" id="floatingPassword1" type="password">
                <label for="floatingPassword1">Password</label>
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3">Comments</label>
            <div class="col-sm-9">
              <div class="form-floating">
                <textarea class="form-control" id="floatingTextarea2"
                  style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comments</label>
              </div>
            </div>
          </div>
          <app-layout-group></app-layout-group>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <div class="col-sm-9 offset-sm-3">
        <button class="btn btn-primary me-3" type="submit" (click)="submit()">Submit</button>
        <input class="btn btn-light" type="reset" value="Cancel">
      </div>
    </div>
  </form>
</div>