<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <app-basic-modal></app-basic-modal>
    </div>
    <div class="col-lg-6">
      <app-sizes-modal></app-sizes-modal>
    </div>
    <div class="col-xl-12">
      <app-fullscreen-modal></app-fullscreen-modal>
    </div>
    <div class="col-xl-4">
      <app-centered-modal></app-centered-modal>
    </div>
    <div class="col-xl-4">
      <app-between-modals></app-between-modals>
    </div>
    <div class="col-xl-4">
      <app-static-backdrop></app-static-backdrop>
    </div>
    <div class="col-12">
      <app-mofi-custom-modals></app-mofi-custom-modals>
    </div>
  </div>
</div>