<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <app-default-slider></app-default-slider>
        </div>
        <div class="col-lg-6">
            <app-min-max-value-slider></app-min-max-value-slider>
        </div>
        <div class="col-lg-6">
            <app-custom-slider></app-custom-slider>
        </div>
        <div class="col-lg-6">
            <app-prettify-number-slider></app-prettify-number-slider>
        </div>
        <div class="col-lg-6">
            <app-disabled-slider></app-disabled-slider>
        </div>
    </div>
</div>