<div class="card">
    <div class="card-header border-r-secondary">
        <h4>Border Right</h4>
        <p class="mt-1 f-m-light">Use the class of<code>.b-r-* </code>for right border.</p>
    </div>
    <div class="card-body">
        <p>Us Technology offers web & mobile development solutions for all industry verticals.Include a short form using
            fields that'll help your business understand who's contacting them. </p>
        <form>
            <label class="form-label" for="exampleFormControlInput1">Email address</label>
            <input class="form-control" id="exampleFormControlInput1" type="email" placeholder="youremail@gmail.com">
        </form>
    </div>
</div>