<div class="card">
    <div class="card-header">
        <h4> Dropdown sizing</h4>
        <p class="f-m-light mt-1">When the<code>.show </code>class starts, dropdown appears. And
            <code>[.btn-lg/.btn-sm]</code>class through button size changed.
        </p>
    </div>
    <div class="card-body rtl-dropdown">
        <div class="common-flex">
            @for (allData of sizingDropdownData; track allData) {
            <div class="btn-group" ngbDropdown>
                <button class="btn {{allData.class}} light btn-lg dropdown-toggle" type="button"
                    ngbDropdownToggle>{{allData.title}}</button>
                <ul class="dropdown-menu dropdown-block" ngbDropdownMenu>
                    @for (items of allData.dropdownItem; track items) {
                    <li NgbDropdownItem>
                        <a class="dropdown-item" href="javascript:void(0)">{{items.item}}</a>
                    </li>
                    }
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    @for (items of allData.dividerItem; track items) {
                    <li NgbDropdownItem><a class="dropdown-item" href="javascript:void(0)">{{items.item}}</a></li>
                    }
                </ul>
            </div>
            }
        </div>
    </div>
</div>