@for (item of data; track item) {
<div class="card">
    <div class="card-header card-no-border pb-0">
        <h4>{{item.header}}</h4>
        <p class="f-m-light mt-1" [innerHTML]="item.desc"></p>
    </div>
    <div class="card-body">
        <div class="row g-3">
            @for (data of item.title; track data) {
            <div class="col-xxl-3 col-sm-6">
                <div class="border-wrapper h-100 alert-light-light dark-helper">
                    <h5 class="f-w-600 mb-3" [innerHTML]="data.title"></h5>
                    <div class="common-p-box">
                        @for (items of data.item; track items) {
                        <span>{{items.text}}</span>
                        }
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
}