<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="fullScreenModalLabel">Full screen modal</h1>
    <button class="btn-close py-0" type="button" (click)="close()"></button>
  </div>
  <div class="modal-body dark-modal">
    <div class="large-modal-header">
      <app-feather-icons [icons]="'chevrons-right'"></app-feather-icons>
      <h5 class="f-w-600">Web design </h5>
    </div>
    <p class="modal-padding-space">We build specialised websites for companies, list them on digital directories, and
      set up a sales funnel to boost ROI.</p>
    <div class="modal-details">
      <div class="web-content">
        @for (allData of commonFullScreenData; track allData) {
        <h5 class="f-w-600">{{allData.title}}</h5>
        @for (data of allData.data; track data) {
        <div class="d-flex">
          <div class="flex-shrink-0">
            <app-feather-icons [class]="'svg-modal'" [icons]="'arrow-right-circle'"></app-feather-icons>
          </div>
          <div class="flex-grow-1 ms-2">
            <p>{{data.desc}}</p>
          </div>
        </div>
        }
        }
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary me-2" type="button" (click)="close()">Close</button>
    <button class="btn btn-primary" type="button">Save </button>
  </div>
</div>