<form class="row g-2" novalidate [formGroup]="productForm" (ngSubmit)="next()">
  <label class="form-label col-12 m-0" for="validationServer01">Product Title <span class="txt-danger"> *</span></label>
  <div class="col-12 custom-input">
    <input class="form-control" id="validationServer01" type="text" formControlName="product_Title"
      [ngClass]="{ 'is-invalid' : (productTitle?.touched || validate) && productTitle?.errors, 'is-valid' : !productTitle?.errors}">
    @if (productTitle?.errors) {
    <div class="invalid-feedback">A product name is required and recommended to be unique.</div>
    } @else {
    <div class="valid-feedback">Looks good!</div>
    }
  </div>
  <div class="col-12">
    <div class="toolbar-box">
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"
          [ngModelOptions]="{standalone: true}"></ngx-editor>
      </div>
    </div>
  </div>
  <div class="product-buttons">
    <button class="btn" type="submit">
      <div class="d-flex align-items-center gap-sm-2 gap-1">Next
        <app-common-svg-icon [icon]="'front-arrow'"></app-common-svg-icon>
      </div>
    </button>
  </div>
</form>