<div class="container-fluid dashboard-2">
  <div class="row">
    <div class="col-xl-3 col-xl-40 col-md-6 proorder-md-1">
      <app-project-status></app-project-status>
    </div>
    <div class="col-xl-5 col-xl-70 col-md-12 proorder-md-3">
      <app-recent-projects></app-recent-projects>
    </div>
    <div class="col-xl-4 col-xl-50 col-md-6 proorder-md-2">
      <app-total-project></app-total-project>
    </div>
    <div class="col-xl-5 col-xl-50 proorder-md-5">
      <app-projects-overview></app-projects-overview>
    </div>
    <div class="col-xl-7 col-xl-100 proorder-md-6">
      <app-clients-activity></app-clients-activity>
    </div>
    <div class="col-xl-3 col-xl-50 col-md-6 proorder-md-7">
      <app-user-profile [item]="websiteDesign"></app-user-profile>
    </div>
    <div class="col-xl-3 col-xl-50 col-md-6 proorder-md-8">
      <app-user-profile [item]="socialPostDesign"></app-user-profile>
    </div>
    <div class="col-xl-3 col-xl-50 col-md-6 proorder-md-9">
      <app-user-profile [item]="podcastWebDesign"></app-user-profile>
    </div>
    <div class="col-xl-3 col-xl-50 col-md-6 proorder-md-10">
      <app-user-profile [item]="cryptoDashboard"></app-user-profile>
    </div>
    <div class="col-xl-3 col-xl-40 col-md-6 proorder-md-11">
      <app-todays-tasks></app-todays-tasks>
    </div>
    <div class="col-xl-5 col-xl-70 proorder-md-13">
      <app-running-events></app-running-events>
    </div>
    <div class="col-xl-4 col-xl-100 col-md-6 proorder-md-12">
      <app-online-course-timeline></app-online-course-timeline>
    </div>
  </div>
</div>
