<div class="card height-equal">
    <div class="card-header card-no-border pb-0">
        <h4>Font-style</h4>
        <p class="f-m-light mt-1">
            Use the font-style like: <code> .f-s-*[normal/italic/oblique/initial/inherit]</code>.</p>
    </div>
    <div class="card-body">
        <p class="f-s-normal">
            This is a <strong>.f-s-normal</strong> font-style </p>
        <p class="f-s-italic">This is a <strong>.f-s-italic</strong> font-style </p>
        <p class="f-s-oblique">This is a <strong>.f-s-oblique</strong> font-style </p>
        <p class="f-s-initial">This is a <strong>.f-s-initial</strong> font-style </p>
        <p class="f-s-inherit">This is a <strong>.f-s-inherit</strong> font-style </p>
    </div>
</div>