<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Clipboard on text input</h4>
          </div>
          <div class="card-body">
            <div class="clipboaard-container">
              <p class="f-16">Cut/copy from text input</p>
              <input class="form-control" id="clipboardExample1" type="text" placeholder="type some text to copy / cut" [(ngModel)]="clipboardExample1">
              <div class="mt-3 text-end">
                <button class="btn btn-primary btn-clipboard me-1" type="button" (click)="copyFunction(clipboardExample1)"><i class="fa fa-copy"></i> Copy</button>
                <button class="btn btn-secondary btn-clipboard-cut" type="button" (click)="cutFunction('clipboardExample1')"><i class="fa fa-cut"></i> Cut</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Clipboard on textarea</h4>
          </div>
          <div class="card-body">
            <div class="clipboaard-container">
              <p class="f-16">Cut/copy from textarea</p>
              <textarea class="theme-scrollbar form-control f-14" id="clipboardExample2" rows="3" spellcheck="false" [(ngModel)]="clipboardExample2"></textarea>
              <div class="mt-3 text-end">
                <button class="btn btn-warning btn-clipboard me-1" type="button" (click)="copyFunction(clipboardExample2)"><i class="fa fa-copy"></i> Copy</button>
                <button class="btn btn-success btn-clipboard-cut" type="button" (click)="cutFunction('clipboardExample2')"><i class="fa fa-cut"></i> Cut</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card height-equal">
          <div class="card-header">
            <h4>Clipboard on paragraph</h4>
          </div>
          <div class="card-body">
            <div class="clipboaard-container">
              <p class="f-16">Copy from paragraph</p>
              <h6 class="border rounded card-body f-w-300" id="clipboardExample3">
                {{paragraphData}}
              </h6>
              <div class="mt-3 text-end">
                <button class="btn btn-info btn-clipboard" type="button" (click)="copyFunction(paragraphData)"><i class="fa fa-copy"></i> Copy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card height-equal">
          <div class="card-header">
            <h4>Copy portion from paragraph</h4>
          </div>
          <div class="card-body">
            <div class="clipboaard-container">
              <p class="f-16">Copy portion from paragraph</p>
              <h6 class="border rounded card-body f-w-300">
                <span class="bg-primary text-white p-1" id="clipboardExample4">
                    {{copyHighlightTxt}} </span>that are visible online. Take a website design course to learn how to 
                create an appealing and responsive website. In the discipline of web design,
                 there are degree, diploma, postgraduate degree, and certificate programmes.
                 A web designer is responsible for a website's look, feel, and occasionally even content.
              </h6>
              <div class="mt-3 text-end">
                <button class="btn btn-secondary btn-clipboard" type="button" (click)="copyFunction(copyHighlightTxt)"><i class="fa fa-copy"></i> Copy highlighted text</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>