<div class="card">
  <div class="card-header card-no-border">
    <div class="header-top top-sellers">
      <h4 class="text-truncate">Top seller of the month</h4>
      <div class="dropdown icon-dropdown" (clickOutside)="clickOutside()">
        <button class="btn dropdown-toggle" id="userdropdown10" type="button" (click)="isShow = !isShow">
          <i class="icon-more-alt"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" [class.show]="isShow">
          <a class="dropdown-item" href="javascript:void(0)">Weekly</a>
          <a class="dropdown-item" href="javascript:void(0)">Monthly</a>
          <a class="dropdown-item" href="javascript:void(0)">Yearly</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pt-0 seller-month px-0">
    <div class="table-responsive theme-scrollbar">
      <div class="dataTables_wrapper no-footer">
        <table class="table display dataTable no-footer" id="seller-month" style="width:100%">
          <thead>
            <tr>
              <th>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label"></label>
                </div>
              </th>
              <th>Seller Name</th>
              <th>Brand Name</th>
              <th>Product</th>
              <th>Sold</th>
              <th>Price</th>
              <th>Earnings</th>
            </tr>
          </thead>
          <tbody>
            @for (item of TopSeller; track item) {
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label"></label>
                </div>
              </td>
              <td>
                <div class="d-flex align-items-center gap-2">
                  <div class="flex-shrink-0">
                    <img [src]="item.image" alt="">
                  </div>
                  <div class="flex-grow-1">
                    <a [routerLink]="['/ecommerce/product-page']">
                      <h6>{{item.name}}</h6>
                    </a>
                  </div>
                </div>
              </td>
              <td>{{item.brandName}}</td>
              <td>{{item.product}}</td>
              <td>{{item.sold}}</td>
              <td>
                <p>${{item.price}}</p>
              </td>
              <td>${{item.earnings}}</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>