<div class="card">
    <div class="card-header">
      <h4>Sizes modal</h4>
      <p class="mt-1 f-m-light">Modals have three optional sizes, available via modifier classes to be placed on a </p><code>.modal-dialog</code>
    </div>
    <div class="card-body badge-spacing">
      <!--full screen modal-->
      <div class="btn btn-secondary" type="button" (click)="fullScreenModal()">Full Screen Modal</div>
      <!--Extra large modal-->
      <div class="btn btn-info" type="button" (click)="extraLargeModal()">Extra large Modal</div>
      <!-- Large modal-->
      <button class="btn btn-success" type="button" (click)="largeModal()">Large Modal</button>
      <!-- Small modal-->
      <button class="btn btn-primary" type="button" (click)="smallModal()">Small Modal</button>
    </div>
  </div>