<div class="card">
  <div class="card-header">
    <h4>Order</h4>
    <p class="mt-1 f-m-light">Using <code>.order </code>class, you can set the order position.</p>
  </div>
  <div class="card-body grid-showcase">
    <div class="row g-2">
      @for (data of orderGridData; track data) {
      <div class="{{ data.class }}">
        <span>{{data.text}}</span>
      </div>
      }
    </div>
  </div>
  <div class="card-footer">
    <div class="table-responsive theme-scrollbar">
      <table class="w-100">
        <tbody>
          <tr>
            <th> Class</th>
            <th>Value of the class</th>
          </tr>
          <tr>
            <td><code>.order-*</code></td>
            <td> first / 2 / 3 / 4 / 5 / last</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>