<div class="card">
  <div class="card-header">
    <h4>Skill Status</h4>
  </div>
  <div class="card-body">
    <div class="chart-container skill-chart">
      <div id="circlechart">
        <apx-chart [chart]="circleChart.chart" [plotOptions]="circleChart.plotOptions" [series]="circleChart.series"
          [labels]="circleChart.labels" [legend]="circleChart.legend" [colors]="circleChart.colors"
          [responsive]="circleChart.responsive"></apx-chart>
      </div>
    </div>
  </div>
</div>