<div class="card">
    <div class="card-header border-t-danger">
        <h4>Border Top</h4>
        <p class="mt-1 f-m-light">Use the class of<code>.b-t-* </code>for top border.</p>
    </div>
    <div class="card-body">
        <p class="mb-0">Tabs have long been used to show alternative views of the same group of information tabs in
            software. Known as<em class="txt-danger">“module tabs”</em> , these are still used today in web sites. For
            instance, airline companies such as Ryanair, easyJet and AirMalta use module tabs to enable the user to
            switch between bookings for flights, hotels and car hire.</p>
    </div>
</div>