<div class="card">
  <div class="card-header">
    <h4>Outlined checkbox styles</h4>
    <p class="f-m-light mt-1">
      The choice between these two approaches will depend on the type of toggle you are creating, and whether or not the
      toggle will make sense to users when announced as a checkbox or as an actual button.
      <code>[multiple selected]</code>.
    </p>
  </div>
  <div class="card-body common-flex main-checkbox-toggle">
    @for (item of OutlinedCheckboxStyles; track item) {
    <input class="btn-check" id="{{item.id}}" type="{{item.type}}">
    <label class="btn btn-outline-{{item.class}}" for="{{item.id}}">{{item.title}}</label>
    }
  </div>
</div>