<div class="card custom-material-style-tabs">
  <div class="card-header">
    <h4>Material style left tabs</h4>
    <p class="mt-1 f-m-light">Use the <code>.nav-link </code>with <code>.active </code>class through jump another
      tabs.And <code>aria-orientation='vertical'</code>through change vertical tabs.</p>
  </div>
  <div class="card-body">
    <div class="tabs-responsive-side">
      <div class="material-wrapper">
        <div class="d-flex">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav flex-column nav-secondary border-tab nav-left"
            id="sideline-tab">
            <li [ngbNavItem]="1">
              <a ngbNavLink class="nav-link nav-effect" id="sideline-home-tab">Home</a>
              <ng-template ngbNavContent>
                <p>This product is meant for educational purposes only. Any resemblance to real persons, living or dead
                  is
                  purely coincidental. Void where prohibited. Some assembly required. List each check separately by bank
                  number. Batteries not included.Google Web Designer gives you the power to create beautiful and
                  compelling videos, images and HTML5 ads. Use animation and interactive elements to build out your
                  creative vision, then scale your content for different sizes or audiences with responsive and dynamic
                  workflows.</p>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink class="nav-link nav-effect" id="sideline-profile-tab">Profile</a>
              <ng-template ngbNavContent>
                <div class="flex-space flex-wrap align-items-center">
                  <img class="tab-img" src="assets/images/ecommerce/08.jpg" alt="profile">
                  <ul class="d-flex flex-column gap-1">
                    <li> <strong> Name: </strong> Jully Catlin</li>
                    <li><strong>Visit Us: </strong> 50006 Ehrenberg/Parker,Arkansas-85334</li>
                    <li><strong>Mail Us:</strong> hello.&#64;gmail.com</li>
                    <li><strong>Contact Number: </strong> (928) 923-7940</li>
                  </ul>
                </div>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink class="nav-link nav-effect" id="sideline-messages-tab">Inbox</a>
              <ng-template ngbNavContent>
                <div class="card-body p-0">
                  <div class="main-inbox">
                    <div class="header-inbox justify-content-start gap-2">
                      <div class="header-left-inbox">
                        <div class="inbox-img">
                          <img src="assets/images/ecommerce/07.jpg" alt="profile">
                        </div>
                      </div>
                      <div class="inbox-content">
                        <h6>Dalbult Caslin </h6>
                        <p class="text-muted">stroman.rogers&#64;gmail.com</p>
                      </div>
                    </div>
                    <div class="body-inbox mt-2">
                      <div class="body-h-wrapper"><i class="me-2 tab-space icofont icofont-star"></i><em>Compare Prices
                          Find the Best Computer Assessors Fronted Issue.</em></div>
                      <p class="pt-2">Site speed and design are two of the most important ranking factors Google takes
                        into consideration, as they have the biggest effect of customer staying on site as the website
                        respond faster.</p>
                    </div>
                  </div>
                </div>
              </ng-template>  
            </li>
            <li [ngbNavItem]="4">
              <a ngbNavLink class="nav-link nav-effect pb-0" id="sideline-settings-tab">Settings</a>
              <ng-template ngbNavContent>
                <p><strong> In this situation, you would probably do two things:</strong> exit the page, or look for the
                  trusty search bar. If you decide to stick around, a proper search function should take your query and
                  send you to your destination. Problem solved. It's not a perfect experience, but it's a hard one to
                  avoid on larger websites that simply can't link to every piece of content from the homepage.</p>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>