<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-4 col-md-6">
      <app-number-rating></app-number-rating>
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-movie-rating></app-movie-rating>
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-square-rating></app-square-rating>
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-star-rating></app-star-rating>
    </div>
    <div class="col-xxl-4 col-md-6">
      <app-horizontal-rating></app-horizontal-rating>
    </div>
    <div class="col-xxl-4 col-md-6">
       <app-current-rating></app-current-rating>
    </div>
  </div>
</div>