<div class="card">
    <div class="profile-img-style">
        <div class="row">
            <div class="col-sm-8">
                <div class="d-flex">
                    <img class="img-thumbnail rounded-circle me-3" src="assets/images/user/7.jpg"
                        alt="Generic placeholder image">
                    <div class="flex-grow-1 align-self-center">
                        <h5 class="mt-0 user-name">JOHAN DIO</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 align-self-center">
                <div class="float-sm-end"><small>10 Hours ago</small></div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-xl-4">
                <div class="my-gallery" id="aniimated-thumbnials-3" itemscope="">
                    <figure itemprop="associatedMedia" itemscope="">
                        <a href="assets/images/blog/img.png" itemprop="contentUrl" data-size="1600x950">
                            <img class="img-fluid rounded" src="assets/images/blog/img.png" itemprop="thumbnail"
                                alt="gallery"></a>
                    </figure>
                </div>
                <div class="like-comment mt-4 like-comment-sm-mb">
                    <ul class="list-inline">
                        <li class="list-inline-item border-right pe-3">
                            <label class="m-0">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-heart"></i>
                                </a>  Like</label>
                            <span class="ms-2 counter">434</span>
                        </li>
                        <li class="list-inline-item ms-2">
                            <label class="m-0">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-comment"></i>
                                </a>  Comment</label>
                            <span class="ms-2 counter">90</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6">
                <p>Dressing is a way of life. My customers are successful working women. I want people to be afraid of
                    the women I dress. Age is something only in your head or a stereotype. Age means nothing when you
                    are
                    passionate about something. There has to be a balance between your mental satisfaction and the
                    financial needs of your company.Success isn't about the end result, it's about what you learn along
                    the way. Confidence. If you have it, you can make anything look good. Grunge is a hippied romantic
                    version of punk. I'm an accomplice to helping women get what they want. Clothes can transform your
                    mood and confidence. I think it's an old fashioned notion that fashion needs to be exclusive to be
                    fashionable.</p>
            </div>
        </div>
    </div>
</div>