<div class="card height-equal">
  <div class="card-header">
    <h4>Vertical</h4><span>Make vertical buttons</span>
  </div>
  <div class="card-body btn-group-wrapper">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      <button class="btn btn-primary" type="button">Button</button>
      <button class="btn btn-secondary" type="button">Button</button>
      <div class="btn-group" role="group">
        <button class="btn btn-success dropdown-toggle" id="btnGroupVerticalDrop1" type="button"
          (click)="isShow =!isShow">Dropdown</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1" [class.show]="isShow"
        [ngStyle]="{'position': 'absolute','inset': '0px auto auto 0px','margin': '0px','transform': 'translate(0px, 37px)'}">
          <a class="dropdown-item" href="javascript:void(0)">Dropdown link</a>
          <a class="dropdown-item" href="javascript:void(0)">Dropdown link</a>
        </div>
      </div>
      <button class="btn btn-info" type="button">Button</button>
      <button class="btn btn-warning" type="button">Button</button>
      <div class="btn-group" role="group">
        <button class="btn btn-danger dropdown-toggle" id="btnGroupVerticalDrop2" type="button"
          (click)="isShow1 =!isShow1">Dropdown</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop2" [class.show]="isShow1"
        [ngStyle]="{'position': 'absolute','inset': '0px auto auto 0px','margin': '0px','transform': 'translate(0px, 37px)'}">
          <a class="dropdown-item" href="javascript:void(0)">Dropdown link</a>
          <a class="dropdown-item" href="javascript:void(0)">Dropdown link</a>
        </div>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-light dropdown-toggle" id="btnGroupVerticalDrop3" type="button"
          (click)="isShow2 =!isShow2">Dropdown</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop3" [class.show]="isShow2"
        [ngStyle]="{'position': 'absolute','inset': '0px auto auto 0px','margin': '0px','transform': 'translate(0px, 37px)'}">
          <a class="dropdown-item" href="javascript:void(0)">Dropdown link</a>
          <a class="dropdown-item" href="javascript:void(0)">Dropdown link</a>
        </div>
      </div>
    </div>
  </div>
</div>