<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      @for (allData of defaultButtonsData; track allData) {
      <div class="card" id="default">
        <div class="card-header">
          <h4>{{allData.title}}</h4>
          <span [innerHTML]="allData.subTitle"></span>
        </div>
        <div class="card-body common-flex">
          @if (allData.tooltip == true) {
          @for (buttonData of allData.colors; track buttonData) {
          <button class="btn btn-{{ buttonData }} {{ allData.buttonClass }}" type="button" placement="top"
            ngbTooltip="btn btn-{{ buttonData }} {{ allData.buttonClass }}">{{ buttonData | titlecase }} Button</button>
          }
          }
          @if (allData.buttonText) {
          @for (buttonData of allData.colors; track buttonData) {
          <button class="btn btn-{{ buttonData }} {{ allData.buttonClass }}" type="button">{{ allData.buttonText
            }}</button>
          }
          }
          @if (allData.tooltip == false && !allData.buttonText) {
          @for (buttonData of allData.colors; track buttonData) {
          <button class="btn btn-{{ buttonData }} {{ allData.buttonClass }}" type="button">{{ buttonData | titlecase }}
            Button</button>
          }
          }
        </div>
      </div>
      }
      <div class="card" id="custom-state-button">
        <div class="card-header">
          <h4>Custom state buttons</h4>
          <span>The <code>.btn</code> class used with <code>&lt;button&gt;</code>, <code>&lt;a&gt;</code> and
            <code>&lt;input&gt;</code> elements.</span>
        </div>
        <div class="card-body common-flex"><a class="btn btn-primary" href="javascript:void(0)" data-toggle="tooltip"
            title="btn btn-primary" role="button">Link</a>
          <input class="btn btn-secondary" type="button" value="Input" data-toggle="tooltip" title="btn btn-secondary">
          <input class="btn btn-success" type="submit" value="Submit" data-toggle="tooltip" title="btn btn-success">
          <button class="btn btn-info" type="submit" data-toggle="tooltip" title="btn btn-info">Button</button>
        </div>
      </div>
      @for (allData of outlinedButtonsData; track allData) {
      <div class="card" id="outline-button">
        <div class="card-header">
          <h4>{{allData.title}}</h4>
          <span [innerHTML]="allData.subTitle"></span>
        </div>
        <div class="card-body common-flex">
          @if (allData.buttonText) {
          @for (buttonData of allData.colors; track buttonData) {
          <button class="btn btn-outline-{{ buttonData }} {{ allData.buttonClass }}"
            [class.text-dark]="buttonData === 'light'">{{ allData.buttonText }}</button>
          }
          } @else {
          @for (buttonData of allData.colors; track buttonData) {
          <button class="btn btn-outline-{{ buttonData }} {{ allData.buttonClass }}"
            [class.text-dark]="buttonData === 'light'">{{ buttonData | titlecase }} Button</button>
          }
          }
        </div>
      </div>
      }
      @for (allData of gradienButtonData; track allData) {
      <div class="card" id="gradiant">
        <div class="card-header">
          <h4>{{allData.title}}</h4>
          <span [innerHTML]="allData.subTitle"></span>
        </div>
        <div class="card-body common-flex">
          @for (buttonData of allData.colors; track buttonData) {
          <button class="btn btn-{{ buttonData }}-gradien" type="button">{{
            buttonData | titlecase }} Button</button>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>