<div class="card">
    <div class="card-header">
      <h4>Popover offset </h4>
      <p class="f-m-light mt-1">
         Use the<code> data-bs-offset="*,*"</code> through popover offset above buttons. </p>
    </div>
    <div class="card-body common-flex popover-wrapper">
      <button class="btn btn-secondary mb-0 me-0" type="button"  placement="end" data-bs-offset="50,0" data-bs-toggle="popover" data-bs-delay-show="5000" popoverTitle="Popover popoverTitle" ngbPopover="And here's some amazing content. It's very engaging. Right?" data-kt-initialized="1">Popover offset 50</button>
      <button class="example-popover btn btn-dark mb-0 me-0" type="button" data-bs-offset="-50,0" data-container="body" data-bs-toggle="popover" placement="left" popoverTitle="Popover On Left" ngbPopover="Popovers are opt-in for effectiveness causes, in this way you have to initialize them yourself.">Popover offset -50</button>
    </div>
  </div>