<div class="container-fluid">
  <div class="typeahead typeahead-wrapper">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <app-simple-typeahead></app-simple-typeahead>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-open-on-focus></app-open-on-focus>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-formatted-result></app-formatted-result>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-select-on-exact></app-select-on-exact>
      </div>
      <div class="col-sm-12 col-md-6">
         <app-wikipedia-search></app-wikipedia-search>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-template-for-results></app-template-for-results>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-prevent-manual-entry></app-prevent-manual-entry>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-global></app-global>
      </div>
    </div>
  </div>
</div>