  <div class="donut-chart-widget">
    <div class="card">
      <div class="card-header">
        <h4>Stock Market</h4>
      </div>
      <div class="card-body">
        <div id="chart-widget13">
            <apx-chart 
            [series]="stokeMarket.series" 
            [plotOptions]="stokeMarket.plotOptions"
            [legend]="stokeMarket.legend"
            [fill]="stokeMarket.fill"
            [chart]="stokeMarket.chart"
            [stroke]="stokeMarket.stroke" 
            [tooltip]="stokeMarket.tooltip"    
            [xaxis]="stokeMarket.xaxis"
            [grid]="stokeMarket.grid"
            [responsive]="stokeMarket.responsive">
         </apx-chart>
        </div>
      </div>
    </div>
  </div>