<div class="container-fluid">
  <div class="user-profile">
    <div class="row">
      <div class="col-sm-12">
         <app-user-profile-first></app-user-profile-first>
      </div>
      <div class="col-sm-12">
       <app-user-profile-second></app-user-profile-second>
      </div>
      <div class="col-sm-12">
          <app-user-profile-third></app-user-profile-third>
      </div>
      <div class="col-sm-12">
         <app-user-profile-fourth></app-user-profile-fourth>
      </div>
      <div class="col-sm-12">
        <app-user-profile-fifth></app-user-profile-fifth>
      </div>
    </div>
  </div>
</div>