<section class="comment-box">
  <h4>Comment</h4>
  <hr>
  <ul>
    @for (comments of commentsData; track comments) {
    @if (comments.reply === false) {
    <li>
      <div class="d-flex align-self-center">
        <img class="align-self-center" [src]="comments.img" alt="Generic placeholder image">
        <div class="flex-grow-1">
          <div class="row">
            <div class="col-md-4">
              <h6 class="mt-0">{{comments.name}}<span>{{comments.designation}}</span></h6>
            </div>
            <div class="col-md-8">
              <ul class="comment-social float-start float-md-end">
                <li><i class="icofont icofont-thumbs-up"></i>{{comments.hits}} Hits</li>
                <li><i class="icofont icofont-ui-chat"></i>{{comments.comments}} Comments</li>
              </ul>
            </div>
          </div>
          <p>{{ comments.desc }}</p>
        </div>
      </div>
    </li>
    }
    @if (comments.reply === true) {
    <li>
      <ul>
        <li>
          <div class="d-flex">
            <img class="align-self-center" [src]="comments.img" alt="Generic placeholder image">
            <div class="flex-grow-1">
              <div class="row">
                <div class="col-xl-12">
                  <h6 class="mt-0">{{comments.name}} <span>{{comments.designation}}</span></h6>
                </div>
              </div>
              <p>{{ comments.desc }}</p>
            </div>
          </div>
        </li>
      </ul>
    </li>
    }
    }
  </ul>
</section>