<div class="card">
  <div class="card-header card-no-border pb-0">
    <div class="header-top">
      <h4>Actively Hours</h4>
      <div class="dropdown icon-dropdown" (clickOutside)="clickOutside()">
        <button class="btn dropdown-toggle" type="button" (click)="isShow = !isShow">
          <i class="icon-more-alt"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" [class.show]="isShow">
          <a class="dropdown-item" href="javascript:void(0)">Weekly</a>
          <a class="dropdown-item" href="javascript:void(0)">Monthly</a>
          <a class="dropdown-item" href="javascript:void(0)">Yearly</a>
          
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="actively-hours">
      <apx-chart [series]="activelyHours.series" [chart]="activelyHours.chart" [stroke]="activelyHours.stroke"
        [responsive]="activelyHours.responsive" [colors]="activelyHours.colors"
        [plotOptions]="activelyHours.plotOptions" [grid]="activelyHours.grid" [xaxis]="activelyHours.xaxis"
        [legend]="activelyHours.legend" [dataLabels]="activelyHours.dataLabels" [fill]="activelyHours.fill"
        [yaxis]="activelyHours.yaxis">
      </apx-chart>
    </div>
  </div>
</div>