<div class="card">
  <div class="card-header">
    <h4>Select on exact</h4>
    <p class="f-m-light mt-1">A typeahead with <code>[selectOnExact]</code> example that selects the item when it is the
      only one that matches the
      user input</p>
  </div>
  <div class="card-body">
    <div id="prefetch">
      <form class="theme-form">
        <div>
          <input class="typeahead form-control" type="text" placeholder="Countries" [ngbTypeahead]="search"
            [selectOnExact]="true" [inputFormatter]="formatter" [resultFormatter]="formatter">
        </div>
      </form>
    </div>
  </div>
</div>