<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-12 p-0">
      <div class="login-card login-dark">
        <div>
          <div>
            <a class="logo" [routerLink]="['/dashboard/default']">
              <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="loginpage">
              <img class="img-fluid for-dark" src="assets/images/logo/logo_dark.png" alt="loginpage">
            </a>
          </div>
          <div class="login-main">
            <form class="theme-form" [formGroup]="loginForm" (ngSubmit)="login()">
              <h4>Sign in to account</h4>
              <p>Enter your email & password to login</p>
              <div class="form-group">
                <label class="col-form-label">Email Address</label>
                <input class="form-control" type="email" placeholder="" formControlName="email">
                @if (loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['required']) {
                  <div class="text text-danger mt-1">Email is required</div>
                }
                @if (loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['email']) {
                  <div class="text text-danger mt-1">Invalid Email</div>
                }
              </div>
              <div class="form-group">
                <label class="col-form-label">Password</label>
                <div class="form-input position-relative">
                  <input class="form-control" [type]="show ? 'text' : 'password'" placeholder="" formControlName="password">
                  <div class="show-hide">
                    <span (click)="showPassword()" [class.show]="show"></span>
                  </div>
                  @if (loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']) {
                    <div class="text text-danger mt-1">Password is required</div>
                  }
                </div>
              </div>
              <div *ngIf="errorMessage" class="text text-danger text-center mt-3">
                {{ errorMessage }}
              </div>
              <div class="form-group mb-0">
                <div class="checkbox p-0">
                  <input id="checkbox1" type="checkbox">
                  <label class="text-muted" for="checkbox1">Remember password</label>
                </div>
                <a class="link" [routerLink]="['/authentication/forget-password']">Forgot password?</a>
                <div class="text-end mt-3">
                  <button class="btn btn-primary btn-block w-100" type="submit" [disabled]="!loginForm.valid">Sign in</button>
                </div>
              </div>
              <h6 class="text-muted mt-4 or">Or Sign in with</h6>
              <div class="social mt-4">
                <div class="btn-showcase">
                  <button type="button" class="btn btn-light w-100 h-100 d-flex align-items-center justify-content-center mt-2" (click)="googleLogin()">
                    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google"
                        style="width:20px; height:20px; margin-right:8px; vertical-align:middle;">
                    Google Login
                  </button>
                  <!-- <a class="btn btn-light" href="https://twitter.com/login?lang=en" target="_blank">
                    <app-feather-icons [class]="'txt-twitter'" [icons]="'twitter'"></app-feather-icons>twitter
                  </a>
                  <a class="btn btn-light" href="https://www.facebook.com/" target="_blank">
                    <app-feather-icons [class]="'txt-fb'" [icons]="'facebook'"></app-feather-icons>facebook
                  </a> -->
                </div>
              </div>
              <p class="mt-4 mb-0 text-center">Don't have account?
                <a class="ms-2" [routerLink]="['/auth/register']">Create Account</a>
              </p>
            </form>
            @if (showGoogleAlert) {
              <app-dismissing-light-alert [alertMessage]="alertGoogleMessage"></app-dismissing-light-alert>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>