<div class="card">
    <div class="card-header">
      <h4>Cryptocurrency Prices</h4>
    </div>
    <div class="card-body">
      <div class="chart-container crypto-chart">
        <div class="row">
          <div class="col-12">
            <div id="chart-crypto">
                <apx-chart 
                     [chart]="cryptoCurrencyPrices.chart"
                     [dataLabels]="cryptoCurrencyPrices.dataLabels" 
                     [stroke]="cryptoCurrencyPrices.stroke"
                     [xaxis]="cryptoCurrencyPrices.xaxis"
                     [grid]="cryptoCurrencyPrices.grid" 
                     [fill]="cryptoCurrencyPrices.fill"
                     [colors]="cryptoCurrencyPrices.colors" 
                     [series]="cryptoCurrencyPrices.series"
                     [tooltip]="cryptoCurrencyPrices.tooltip"
                     [responsive]="cryptoCurrencyPrices.responsive">
                </apx-chart>
              </div>
            </div>
         </div>
      </div>
   </div>
</div>