<div class="card">
    <div class="card-header">
        <h4>Column Chart</h4>
    </div>
    <div class="card-body">
        <div id="annotationchart">
            <apx-chart [annotations]="columnChart2.annotations" [chart]="columnChart2.chart"
                [dataLabels]="columnChart2.dataLabels" [stroke]="columnChart2.stroke" [grid]="columnChart2.grid"
                [series]="columnChart2.series" [title]="columnChart2.title" [labels]="columnChart2.labels"
                [xaxis]="columnChart2.xaxis" [colors]="columnChart2.colors"></apx-chart>
        </div>
    </div>
</div>