<div class="container-fluid credit-card">
    <div class="row">
        <div class="col-xxl-8 box-col-12">
            <app-credit-card></app-credit-card>
        </div>
        <div class="col-xxl-4 col-lg-6 box-col-6 debit-card">
            <app-debit-card></app-debit-card>
        </div>
        <div class="col-xxl-4 col-lg-6 box-col-6">
            <app-cod></app-cod>
        </div>
        <div class="col-xxl-4 col-lg-6 box-col-6">
            <app-emi></app-emi>
        </div>
        <div class="col-xxl-4 col-lg-6 box-col-6">
            <app-net-banking></app-net-banking>
        </div>
    </div>
</div>