<div class="card card-mb-faq">
  <div class="card-header faq-header pb-0">
    <h4>Navigation</h4><app-feather-icons [icons]="'settings'"></app-feather-icons>
  </div>
  <div class="card-body faq-body">
    <div class="navigation-btn"><a class="btn btn-primary" href="javascript:void(0)">
        <app-feather-icons [class]="'m-r-10'" [icons]="'message-square'"></app-feather-icons>
        Ask Question</a>
    </div>
    <div class="navigation-option">
      <ul>
        <li><a href="javascript:void(0)"><app-feather-icons [icons]="'edit'"></app-feather-icons>Tutorials</a></li>
        <li><a href="javascript:void(0)"><app-feather-icons [icons]="'globe'"></app-feather-icons>Help center</a></li>
        <li><a href="javascript:void(0)"><app-feather-icons [icons]="'book-open'"></app-feather-icons>Knowledgebase</a>
        </li>
        <li><a href="javascript:void(0)"><app-feather-icons [icons]="'file-text'"></app-feather-icons>Articles</a><span
            class="badge badge-primary rounded-pill pull-right">42</span></li>
        <li><a href="javascript:void(0)"><app-feather-icons [icons]="'youtube'"></app-feather-icons>Video
            Tutorials</a><span class="badge badge-primary rounded-pill pull-right">648</span></li>
        <li><a href="javascript:void(0)"><app-feather-icons [icons]="'message-circle'"></app-feather-icons>Ask our
            community</a></li>
        <li><a href="javascript:void(0)"><app-feather-icons [icons]="'mail'"></app-feather-icons>Contact us</a></li>
      </ul>
      <hr>
      <ul>
        <li><a href="javascript:void(0)"><app-feather-icons [icons]="'message-circle'"></app-feather-icons>Ask our
            community</a></li>
        <li><a href="javascript:void(0)"><app-feather-icons [icons]="'mail'"></app-feather-icons>Contact us</a></li>
      </ul>
    </div>
  </div>
</div>