<table class="logo-wrappper" style="width: 100%;">
  <tbody>
    <tr>
      <td>
        <img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="">
        <img class="img-fluid for-dark" src="assets/images/logo/logo_light.png" alt="">
        <span style="opacity: 0.8;display:block;margin-top: 10px;">202-555-0258</span>
      </td>
      <td class="address" style="text-align: right;opacity: 0.8; width: 16%;">
        <span>1982 Harvest Lane New York, NY12210 United State</span>
      </td>
    </tr>
  </tbody>
</table>