<div class="card">
    <div class="card-header border-b-info">
        <h4>Border Bottom</h4>
        <p class="mt-1 f-m-light">Use the class of<code>.b-b-* </code>for bottom border.</p>
    </div>
    <div class="card-body">
        <p class="mb-0">A navigation bar is a particularly important feature because it allows visitors to quickly and
            easily find<em class="txt-danger"> important pages on your website</em> , like your blog, product pages,
            pricing, contact info, and documentation. This improves the chances of visitors browsing your site longer,
            which can boost your page views and reduce your bounce rate.</p>
    </div>
</div>