<div class="card ecommerce-widget">
  <div class="card-body support-ticket-font">
    <div class="row">
      <div class="col-5"><span>{{data.statusTitle}}</span>
        <h3 class="total-num counter">{{data.order}}</h3>
      </div>
      <div class="col-7">
        <div class="text-end">
          <ul>
            <li>Profit
              <span class="product-stts txt-success ms-2">{{data.profit}}
                <i class="icon-angle-up f-12 ms-1"></i>
              </span>
            </li>
            <li>Loss
              <span class="product-stts txt-danger ms-2">{{data.loss}}
                <i class="icon-angle-down f-12 ms-1"></i>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="progress-showcase mt-4">
      <div class="progress sm-progress-bar">
        <div class="progress-bar bg-{{data.levelColor}}" role="progressbar" [style.width]="data.level"></div>
      </div>
    </div>
  </div>
</div>