<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-default-pagination></app-default-pagination>
        </div>
        <div class="col-md-6">
            <app-pagination-with-active></app-pagination-with-active>
        </div>
        <div class="col-md-6">
            <app-pagination-with-icons></app-pagination-with-icons>
        </div>
        <div class="col-md-6">
            <app-rounded-pagination></app-rounded-pagination>
        </div>
        <div class="col-xxl-6">
            <app-pagination-alignment></app-pagination-alignment>
        </div>
        <div class="col-xxl-6">
            <app-pagination-sizing></app-pagination-sizing>
        </div>
    </div>
</div>