<div class="card social-widget">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-2">
        <div class="social-icons">
          <img [src]="item.image" alt="facebook icon">
        </div>
        <span class="f-w-600">{{item.name}}</span>
      </div>
      <span class="font-success f-12 d-xxl-block d-xl-none">+{{item.pr}}%</span>
    </div>
    <div class="social-content">
      <div>
        <h5 class="mb-1">{{item.followers}}</h5><span class="f-light">Followers</span>
      </div>
      <div class="social-chart">
        <div id="{{item.id}}">
          <apx-chart [chart]="item.chart" [dataLabels]="item.dataLabels" [stroke]="item.stroke" [labels]="item.labels"
            [markers]="item.markers" [xaxis]="item.xaxis" [yaxis]="item.yaxis" [grid]="item.grid" [fill]="item.fill"
            [colors]="item.colors" [series]="item.series" [responsive]="item.responsive"
            [plotOptions]="item.plotOptions">
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>