<div class="card">
    <div class="card-header">
        <h4>Table head options</h4><span>Similar to tables , use the modifier classes<code>.table-[color]</code> to make
            <code>thead</code>appear in any color.</span>
    </div>
    <div class="card-block row">
        <div class="col-sm-12 col-lg-12 col-xl-12">
            <div class="table-responsive theme-scrollbar">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of TableHeadOptions; track item) {
                        <tr>
                            <th scope="row">{{item.Id}}</th>
                            <td>{{item.FirstName}}</td>
                            <td>{{item.LastName}}</td>
                            <td>{{item.Username}}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>