<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4>Post Edit</h4>
        </div>
        <div class="card-body add-post custom-dropzone-project">
          <form class="row needs-validation" novalidate="">
            <div class="col-sm-12">
              <div class="mb-3">
                <label for="validationCustom01">Title:</label>
                <input class="form-control" id="validationCustom01" type="text" placeholder="Post Title" required="">
                <div class="valid-feedback">Looks good!</div>
              </div>
              <div class="mb-3">
                <label>Type:</label>
                <div class="m-checkbox-inline">
                  <label for="edo-ani">
                    <input class="radio_animated" id="edo-ani" type="radio" name="rdo-ani" checked="">Text
                  </label>
                  <label for="edo-ani1">
                    <input class="radio_animated" id="edo-ani1" type="radio" name="rdo-ani">Image
                  </label>
                  <label for="edo-ani2">
                    <input class="radio_animated" id="edo-ani2" type="radio" name="rdo-ani" checked="">Audio
                  </label>
                  <label for="edo-ani3">
                    <input class="radio_animated" id="edo-ani3" type="radio" name="rdo-ani">Video
                  </label>
                </div>
              </div>
              <div class="mb-3">
                <div class="col-form-label">Category:
                  <ng-select [items]="cities2" bindLabel="name" bindValue="id" [multiple]="true"
                    placeholder="Select cities" [(ngModel)]="selectedCityIds" name="name"></ng-select>
                </div>
              </div>
              <div class="email-wrapper">
                <div class="theme-form">
                  <div class="mb-3">
                    <label>Content:</label>
                    <div class="NgxEditor__Wrapper">
                      <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                      <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"
                        [ngModelOptions]="{standalone: true}"></ngx-editor>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <form class="dropzone bg-light-primary">
            <dropzone [config]="config" [message]="text" (error)="onUploadError($event)"
              (success)="onUploadSuccess($event)" [className]="'custom-drop-zone'">
            </dropzone>
          </form>
          <div class="btn-showcase text-end">
            <button class="btn btn-primary" type="submit">Post</button>
            <input class="btn btn-light" type="reset" value="Discard">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>