<div class="card">
  <div class="card-header">
    <h4>Basic modal</h4>
    <p class="mt-1 f-m-light">Different types of basic modals using like
      <code>simple/scrolling/tooltips/grid/varying modal</code>.</p>
  </div>
  <div class="card-body badge-spacing">
    <!-- Simple demo-->
    <button class="btn btn-secondary" type="button" (click)="simpleModal()">Simple</button>
    <!-- Scrolling long content-->
    <button class="btn btn-success" type="button" (click)="scrollingModal()">Scrolling content</button>
    <!-- Tooltips and popovers modal-->
    <button class="btn btn-info" type="button" (click)="tooltipPopoverModal()">Tooltips and popovers</button>
    <!--varying modal content-->
    <button class="btn btn-primary" type="button" (click)="mofiModal()">Open modal for mofi</button>
  </div>
</div>