<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      @for (item of orderHistory; track item) {
      <div class="card">
        <div class="card-header">
          <h4>{{item.title}}</h4>
        </div>
        <div class="card-body">
          <div class="row g-sm-4 g-3">
            @for (items of item.data; track items;let index = $index) {
            <div class="col-xxl-4 col-md-6">
              <div class="prooduct-details-box">
                <div class="d-flex">
                  <img class="align-self-center img-fluid img-60" [src]="items.image" alt="#">
                  <div class="flex-grow-1 ms-3">
                    <div class="product-name">
                      <h6><a href="javascript:void(0)">{{items.title}}</a></h6>
                    </div>
                    <div class="rating">
                      <bar-rating [(rate)]="items.rating" [max]="5"></bar-rating>
                    </div>
                    <div class="price d-flex p-0 border-0">
                      <div class="text-muted me-2">Price</div>: {{items.price}}$
                    </div>
                    <div class="avaiabilty">
                      <div class="text-success">{{items.stoke}}</div>
                    </div>
                    <a class="btn btn-{{items.color}} btn-xs" href="javascript:void(0)">{{items.status}}</a>
                    <app-feather-icons [class]="'close'" [icons]="'x'"
                      (click)="cancelOrder(index,items.id)"></app-feather-icons>
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      }
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4>Datatable order history</h4>
        </div>
        <div class="card-body">
          <div class="order-history table-responsive theme-scrollbar">
            <div class="mb-3 row">
              <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search</label>
              <div class="col-xs-3 col-sm-auto">
                <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                  [(ngModel)]="orderHistoryService.searchTerm">
              </div>
              @if (orderHistoryService.loading$ | async) {
              <span class="col col-form-label">Loading...</span>
              }
            </div>
            <table class="table table-bordernone display" id="basic-1">
              <thead>
                <tr>
                  <th scope="col" sortableOrder="productimg" (sort)="onSort($event)">Prdouct</th>
                  <th scope="col" sortableOrder="product" (sort)="onSort($event)">Prdouct name</th>
                  <th scope="col" sortableOrder="size" (sort)="onSort($event)">Size</th>
                  <th scope="col" sortableOrder="color" (sort)="onSort($event)">Color</th>
                  <th scope="col" sortableOrder="articleNumber" (sort)="onSort($event)">Article number</th>
                  <th scope="col" sortableOrder="units" (sort)="onSort($event)">Units</th>
                  <th scope="col" sortableOrder="price" (sort)="onSort($event)">Price</th>
                  <th scope="col"><i class="fa fa-angle-down"></i></th>
                </tr>
              </thead>
              <tbody>
                @for (item of orderHistoryData$ | async; track item) {
                <tr>
                  <td class="text-center">
                    <img class="img-fluid img-30" [src]="item.productimg" alt="#">
                  </td>
                  <td>
                    <div class="product-name"><a href="javascript:void(0)">{{item.product}}</a>
                      <div class="order-process"><span class="order-{{item.class}}"></span>{{item.status}}</div>
                    </div>
                  </td>
                  <td>{{item.size}}</td>
                  <td>{{item.color}}</td>
                  <td>{{item.articleNumber}}</td>
                  <td>{{item.units}}</td>
                  <td>${{item.price}}</td>
                  <td>
                    <app-feather-icons [icons]="'more-vertical'"></app-feather-icons>
                  </td>
                </tr>
                }
                @if (orderList.length === 0) {
                <tr class="odd">
                  <td class="dataTables_empty">No matching records found</td>
                </tr>
                }
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <select class="form-select" style="width: auto" name="pageSize"
                [(ngModel)]="orderHistoryService.pageSize">
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="25">25 items per page</option>
                <option [ngValue]="50">50 items per page</option>
                <option [ngValue]="100">100 items per page</option>
              </select>
              <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="orderHistoryService.page"
                [pageSize]="orderHistoryService.pageSize"> </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>