<div class="card height-equal">
    <div class="card-header">
        <h4>Horizontal lists</h4>
        <p class="f-m-light mt-1">Use <code>.list-group-horizontal</code>to change the layout of list group items from
            vertical to horizontal across all breakpoints.<code>.list-group-horizontal-[sm/md/lg/xl/xxl]</code>.</p>
    </div>
    <div class="card-body">
        <div class="horizontal-list-wrapper dark-list">
            @for (allData of horizantlListData; track allData) {
            <ul class="fw-bold list-group list-group-horizontal-sm pb-2">
                @for (items of allData.data; track items) {
                @if (items.border) {
                <li class="list-group-item border-left-{{allData.borderColor}}">
                    {{items.item}} </li>
                } @else {
                <li class="list-group-item">{{ items.item }} </li>
                }
                }
            </ul>
            }
        </div>
    </div>
</div>