<div class="card">
  <div class="card-header">
    <h4>Fullscreen modal</h4>
    <p class="f-m-light mt-1">Another override is the option to pop up a modal that covers the user viewport, available
      via modifier classes that are placed on a<code> .modal-dialog</code>. </p>
  </div>
  <div class="card-body badge-spacing">
    <button class="btn btn-outline-secondary-2x" type="button" (click)="fullscreenModal()">Fullscreen modal</button>
    <button class="btn btn-outline-info-2x" type="button" (click)="fullscreenSMModal()">Fullscreen below sm</button>
    <button class="btn btn-outline-success-2x" type="button" (click)="fullscreenMDModal()">Fullscreen below md</button>
    <button class="btn btn-outline-warning-2x" type="button" (click)="fullscreenLGModal()">Fullscreen below lg</button>
    <button class="btn btn-outline-primary-2x" type="button" (click)="fullscreenXLModal()">Fullscreen below xl</button>
    <button class="btn btn-outline-danger-2x" type="button" (click)="fullscreenXXLModal()">Fullscreen below xxl</button>
  </div>
</div>