<div class="small-chart-widget chart-widgets-small">
    <div class="card">
      <div class="card-header">
        <h4>Monthly Sales</h4>
        <div class="card-header-right">
          <ul class="list-unstyled card-option">
            <li><i class="fa fa-spin fa-cog"></i></li>
            <li><i class="view-html fa fa-code"></i></li>
            <li><i class="icofont icofont-maximize full-card"></i></li>
            <li><i class="icofont icofont-minus minimize-card"></i></li>
            <li><i class="icofont icofont-refresh reload-card"></i></li>
            <li><i class="icofont icofont-error close-card"></i></li>
          </ul>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="row">
            <div class="col-12">
              <div id="chart-widget8">
                <apx-chart 
                  [fill]="monthlySales.fill"
                  [colors]="monthlySales.colors"
                  [chart]="monthlySales.chart"
                  [series]="monthlySales.series"
                  [title]="monthlySales.title"
                  [stroke]="monthlySales.stroke"
                  [markers]="monthlySales.markers"
                  [labels]="monthlySales.labels">
                 </apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>