<div class="card o-hidden">
    <div class="card-header">
      <h4>Monthly  History</h4>
    </div>
    <div class="bar-chart-widget">
      <div class="bottom-content card-body">
        <div class="row">
          <div class="col-12">
            <div id="chart-widget4">
              <apx-chart 
               [series]="chartWidget4.series"
               [chart]="chartWidget4.chart"
               [plotOptions]="chartWidget4.plotOptions"
               [dataLabels]="chartWidget4.dataLabels" 
               [stroke]="chartWidget4.stroke"
               [xaxis]="chartWidget4.xaxis"
               [yaxis]="chartWidget4.yaxis" 
               [colors]="chartWidget4.colors" 
               [fill]="chartWidget4.fill"
               [tooltip]="chartWidget4.tooltip"
               [responsive]="chartWidget4.responsive">
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>