<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-custom-switch></app-custom-switch>
    </div>
    <div class="col-xl-4 col-sm-6">
      <app-common-switch [data]="IconSwitchButton"></app-common-switch>
    </div>
    <div class="col-xl-4 col-sm-6">
      <app-common-switch [data]="uncheckedSwitchButton"></app-common-switch>
    </div>
    <div class="col-xl-4">
      <app-common-switch [data]="borderedIconButton"></app-common-switch>
    </div>
    <div class="col-md-6">
       <app-disabled-outline-switch></app-disabled-outline-switch>
    </div>
    <div class="col-md-6">
      <app-variation-of-switches></app-variation-of-switches>
    </div>
    <div class="col-md-12">
       <app-switch-sizing></app-switch-sizing>
    </div>
    <div class="col-md-12">
       <app-switch-with-icons></app-switch-with-icons>
    </div>
  </div>
</div>