<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-advanced-smil-animations></app-advanced-smil-animations>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-svg-path-animation></app-svg-path-animation>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-animating-a-donut-with-svg></app-animating-a-donut-with-svg>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-bi-polar-line-chart></app-bi-polar-line-chart>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-line-chart-with-area></app-line-chart-with-area>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-bi-polar-bar-chart></app-bi-polar-bar-chart>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-stacked-bar-chart></app-stacked-bar-chart>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-horizontal-bar-chart></app-horizontal-bar-chart>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-xreme-responsive-configuration></app-xreme-responsive-configuration>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-simple-line-chart></app-simple-line-chart>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-holes-in-data></app-holes-in-data>
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-12">
      <app-filled-holes-in-data></app-filled-holes-in-data>
    </div>
  </div>
</div>