<div class="container invoice-2">
  <div id="print-section">
    <div class="card"> 
      <div class="card-body">
        <table class="table-wrapper table-responsive theme-scrollbar">
          <tbody> 
            <tr> 
              <td> 
                  <app-invoice-five-top></app-invoice-five-top>
              </td>
            </tr>
            <tr> 
              <td> 
                 <app-invoice-details></app-invoice-details>
              </td>
            </tr>
            <tr> 
              <td> 
                <table class="table-responsive" style="width: 100%; border-spacing:0;">
                  <thead> 
                    <tr style="background: #7A70BA;"> 
                      <th style="padding: 18px 15px;text-align: center; position: relative; border-top-left-radius: 10px;"><span style="color: #fff; font-size: 16px; font-weight: 600;">No.</span></th>
                      <th style="padding: 18px 16px;text-align: left;"><span style="color: #fff; font-size: 16px; font-weight: 600;">Description</span></th>
                      <th style="padding: 18px 15px;text-align: center"><span style="color: #fff; font-size: 16px; font-weight: 600;">Unite Price</span></th>
                      <th style="padding: 18px 15px;text-align: center"><span style="color: #fff; font-size: 16px; font-weight: 600;">Quantity</span></th>
                      <th style="padding: 18px 15px;text-align: center;position: relative; border-top-right-radius: 10px;"><span style="color: #fff; font-size: 16px; font-weight: 600;">Subtotal</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of invoice4; track item) {
                    <tr>
                      <td style="width: 12%; text-align: center; border-bottom: 1px dashed rgba(82, 82, 108, 0.2);background: rgba(122, 112, 186 , 0.1);"> <span style="opacity: 0.8; font-weight: 600;">{{item.id}}</span></td>
                      <td style="padding: 16px; border-bottom: 1px dashed rgba(82, 82, 108, 0.2);">
                        <h4 style="font-weight:600; margin:4px 0px; font-size: 16px; color: #7A70BA;">{{item.desc}}</h4><span style="opacity: 0.8; font-size: 16px;">{{item.subName}}</span>
                      </td>
                      <td style="width: 12%; text-align: center;border-bottom: 1px dashed rgba(82, 82, 108, 0.2);background: rgba(122, 112, 186 , 0.1);"><span style="font-weight: 600;">${{item.price}}</span></td>
                      <td style="width: 12%; text-align: center; border-bottom: 1px dashed rgba(82, 82, 108, 0.2);"> <span style="font-weight: 600;">{{item.qty}}</span></td>
                      <td style="width: 12%; text-align: center; border-bottom: 1px dashed rgba(82, 82, 108, 0.2);background: rgba(122, 112, 186 , 0.1);"> <span style="color: #7A70BA; font-weight: 600;opacity: 0.9;">${{item.total}}</span></td>
                    </tr>
                  }
                    <tr> 
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td style="text-align: center; padding:35px 0 18px;"> <span style="opacity: 0.8;font-weight: 600;">Subtotal            </span></td>
                      <td style=" text-align: center;background: rgba(122, 112, 186 , 0.1); display: block; padding:35px 0 18px;"> <span style="color: #7A70BA; font-weight: 600;opacity: 0.9;">$6100.00</span></td>
                    </tr>
                    <tr> 
                      <td> </td>
                      <td> </td>
                      <td> </td>
                      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;font-weight: 600;">VAT / Tax 15%           </span></td>
                      <td style=" text-align: center;background: rgba(122, 112, 186 , 0.1); display:block; padding-bottom: 18px;"> <span style="color: #7A70BA; font-weight: 600;opacity: 0.9;">$50.00</span></td>
                    </tr>
                    <tr> 
                      <td></td>
                      <td></td>
                      <td> </td>
                      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;font-weight: 600;">Discount         </span></td>
                      <td style="text-align: center;background: rgba(122, 112, 186 , 0.1); display: block; padding-bottom: 18px;"> <span style="color: #7A70BA; font-weight: 600;opacity: 0.9;">$30.00</span></td>
                    </tr>
                    <tr> 
                      <td> </td>
                      <td> </td>
                      <td></td>
                      <td style="width: 12%; text-align: center;"> <span style="opacity: 0.8;font-weight: 600;">Total Due     </span></td>
                      <td style="text-align: center;background: rgba(122, 112, 186 , 0.1);"> <span style="color: #ffffff; font-weight: 600;opacity: 0.9;background: #7A70BA; padding: 12px 37px; margin-top: 0px; display: block;">$6120.00</span></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr style="width: 100%; display: flex; justify-content: space-between; margin-top: 36px;">
              <td> <img src="assets/images/email-template/invoice-3/sign.png" alt="sign">
                <span style="color: #7A70BA;display: block;font-size: 16px;font-weight: 600;">Laurine T. Ebbert</span>
                <span style=" display: block; font-size: 14px; padding-top: 5px;">( Designer )</span></td>
              <td> 
                <span style="display: flex; justify-content: end; gap: 15px;">
                <button class="btn btn btn-primary me-2" type="button" printSectionId="print-section" ngxPrint>Print Invoice<i class="icon-arrow-right" style="font-size:13px;font-weight:bold; margin-left: 10px;"></i></button>
                  <a style="background: rgba(122, 112, 186, 0.1);color: rgba(122, 112, 186, 1);border-radius: 10px;padding: 18px 27px;font-size: 16px;font-weight: 600;outline: 0;border: 0; text-decoration: none;" href="javascript:void(0)" download="">Download<i class="icon-arrow-right" style="font-size:13px;font-weight:bold; margin-left: 10px;"></i></a></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>