<div class="container-fluid">
  <div class="row">
    <app-common-default-button-group></app-common-default-button-group>
    <app-common-large-button-group></app-common-large-button-group>
    <app-common-outline-custom-button-group></app-common-outline-custom-button-group>
    <app-common-outline-button-group></app-common-outline-button-group>
    <div class="col-12">
      <app-radio-button-group></app-radio-button-group>
    </div>
    <div class="col-12">
      <app-check-box-button-group></app-check-box-button-group>
    </div>
    <div class="col-lg-6">
      <app-nesting></app-nesting>
    </div>
    <div class="col-lg-6">
      <app-vertical></app-vertical>
    </div>
  </div>
</div>