<div class="card">
    <div class="card-header card-no-border pb-0">
      <div class="header-top">
        <h4>Running Events</h4>
        <div class="dropdown icon-dropdown" (clickOutside)="clickOutside()">
          <button class="btn dropdown-toggle" type="button" (click)="isShow = !isShow">
            <i class="icon-more-alt"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" [class.show]="isShow">
            <a class="dropdown-item" href="javascript:void(0)">Weekly</a>
            <a class="dropdown-item" href="javascript:void(0)">Monthly</a>
            <a class="dropdown-item" href="javascript:void(0)">Yearly</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body rinning-col">
      <div class="row"> 
        <div class="col-6"> 
          <div class="running-box"> 
            <div class="d-flex align-items-center justify-content-between gap-2"> 
              <div class="flex-grow-1"><a [routerLink]="['/ecommerce/product-page']">
                  <h5>Brooklyn Simmons</h5></a>
                <p>Web Manager </p>
              </div>
              <div class="flex-shrink-0">
                <div class="customers social-group">
                  <ul>
                    <li class="d-inline-block">
                        <img class="rounded-circle" src="assets/images/dashboard-2/user/1.png" alt="">
                    </li>
                    <li class="d-inline-block">
                        <img class="rounded-circle" src="assets/images/dashboard-2/user/2.png" alt="">
                    </li>
                    <li class="d-inline-block">
                        <img class="rounded-circle" src="assets/images/dashboard-2/user/3.png" alt="">
                    </li>
                    <li class="d-inline-block"> 
                      <p class="bg-light rounded-circle">5+</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <p>With Asana, you can bring your teams, work, and apps from everywhere in one tool. Workflows can be modified.</p>
            <ul class="d-flex align-items-center gap-3">
              <li class="bg-light">
                <h5>$34,930</h5>
                <p>Disbursed Budget</p>
              </li>
              <li class="bg-light">
                <h5>$65,789</h5>
                <p>Planned</p>
              </li>
            </ul>
            <div> 
              <button class="btn bg-primary me-1">Upgrade Plan</button>
              <button class="btn bg-secondary">View Project</button>
            </div>
          </div>
        </div>
        <div class="col-6 running-events">
            <img src="assets/images/dashboard-2/round.png" alt="">
          <div> 
            <img class="running-events-image" src="assets/images/dashboard-2/events-bg.png" alt="">
        </div>
        </div>
      </div>
    </div>
  </div>