<div class="container-fluid">
    <div class="email-wrap bookmark-wrap">
        <div class="row">
            <div class="col-xl-3 box-col-6">
                <div class="md-sidebar" (clickOutside)="Outside()">
                    <a class="btn btn-primary md-sidebar-toggle" href="javascript:void(0)"
                        (click)="isOpen =!isOpen">bookmark filter</a>
                    <div class="md-sidebar-aside job-left-aside custom-scrollbar" [class.open]="isOpen">
                        <div class="email-left-aside">
                            <div class="card">
                                <div class="card-body">
                                    <div class="email-app-sidebar left-bookmark">
                                        <div class="d-flex">
                                            <div class="media-size-email">
                                                <img class="me-3 rounded-circle" src="assets/images/user/user.png"
                                                    alt="">
                                            </div>
                                            <div class="flex-grow-1">
                                                <h6 class="f-w-600">MARK JENCO</h6>
                                                <p>Markjecno&#64;gmail.com</p>
                                            </div>
                                        </div>
                                        <ul class="nav main-menu" role="tablist">
                                            <li class="nav-item">
                                                <button class="badge-light-primary btn-block btn-mail w-100"
                                                    type="button" (click)="newBookMark()">
                                                    <app-feather-icons [class]="'me-2'"
                                                        [icons]="'bookmark'"></app-feather-icons>
                                                    New Bookmark
                                                </button>
                                            </li>
                                            <li class="nav-item">
                                                <span class="main-title"> Views</span>
                                            </li>
                                            @for (item of ViewsData; track item) {
                                            <li>
                                                <a class="active" id="pills-created-tab"
                                                    (click)="changeDataView(item.title_id)">
                                                    <span class="title"> {{item.title}}</span>
                                                </a>
                                            </li>
                                            }
                                            <li>
                                                <hr>
                                            </li>
                                            <li>
                                                <span class="main-title"> Tags
                                                    <span class="pull-right" (click)="createTag()">
                                                        <a>
                                                            <app-feather-icons
                                                                [icons]="'plus-circle'"></app-feather-icons>
                                                        </a>
                                                    </span>
                                                </span>
                                            </li>
                                            @for (item of tagsData; track item) {
                                            <li>
                                                <a id="pills-notification-tab" (click)="changeDataTags(item.title_id)">
                                                    <span class="title"> {{item.title}}</span>
                                                </a>
                                            </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-md-12 box-col-12">
                <app-bookmark-data [selectedId]="selected_id"></app-bookmark-data>
            </div>
        </div>
    </div>
</div>