<div class="container-fluid">
    <div class="user-profile social-app-profile">
        <div class="row">
            <div class="col-sm-12 box-col-12">
                <div class="card hovercard text-center">
                    <div class="cardheader socialheader"></div>
                    <div class="user-image">
                        <div class="avatar">
                            <img alt="" src="assets/images/user/1.jpg">
                        </div>
                        <div class="icon-wrapper">
                            <i class="icofont icofont-pencil-alt-5"></i>
                        </div>
                        <ul class="share-icons">
                            <li>
                                <a class="social-icon bg-primary" href="javascript:void(0)">
                                    <i class="fa fa-smile-o"></i>
                                </a>
                            </li>
                            <li>
                                <a class="social-icon bg-secondary" href="javascript:void(0)">
                                    <i class="fa fa-wechat"></i>
                                </a>
                            </li>
                            <li>
                                <a class="social-icon bg-warning" href="javascript:void(0)">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="info market-tabs p-0">
                        <ul class="nav nav-tabs border-tab tabs-scoial" id="top-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="top-timeline"
                                    [ngClass]="{'active show': openTab == 'timeline'}"
                                    (click)="tabbed('timeline')">Timeline</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="top-about" [ngClass]="{'active show': openTab == 'about'}"
                                    (click)="tabbed('about')">About</a>
                            </li>
                            <li class="nav-item">
                                <div class="user-designation"></div>
                                <div class="title">
                                    <a target="_blank" href="">ElANA</a>
                                </div>
                                <div class="desc mt-2">general manager</div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="top-friends" [ngClass]="{'active show': openTab == 'friends'}"
                                    (click)="tabbed('friends')">Friends</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="top-photos" [ngClass]="{'active show': openTab == 'photos'}"
                                    (click)="tabbed('photos')">Photos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content" id="top-tabContent">
            <div class="tab-pane fade show active" id="timeline" [ngClass]="{'show active': openTab == 'timeline'}">
                <app-time-line></app-time-line>
            </div>
            <div class="tab-pane fade" id="about" [ngClass]="{'show active': openTab == 'about'}">
                <app-about></app-about>
            </div>
            <div class="tab-pane fade" id="friends" [ngClass]="{'show active': openTab == 'friends'}">
                <app-user-cards></app-user-cards>
            </div>
            <div class="tab-pane fade" id="photos" [ngClass]="{'show active': openTab == 'photos'}">
                <app-photo></app-photo>
            </div>
        </div>
    </div>
</div>