<div class="card custom-model-profile"> 
    <div class="card-header"> 
      <h4>Mofi custom modals </h4>
      <p class="f-m-light mt-1">
         Custom Modal make by Mofi.</p>
    </div>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-xl-4 col-md-6 custom-alert text-center">
          <div class="card-wrapper border rounded-3 h-100">
            <div class="Mofi-demo-img">
              <ul class="dot-group pb-3 pt-0">
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <div class="title-wrapper pb-3 modal-heading">
                <h4 class="theme-name mb-0"><span>Modal 1 -</span>Profile Modal</h4>
                <p>Example of Mofi dashboard profile card.</p>
              </div>
              <div class="overflow-hidden"><img class="img-fluid" src="assets/images/alert/social.png" alt="social">
                <button class="btn btn-primary mx-auto mt-3" type="button" (click)="profileModal()">Click Out</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 custom-alert text-center">
          <div class="card-wrapper border rounded-3 h-100">
            <div class="Mofi-demo-img">
              <ul class="dot-group pb-3 pt-0">
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <div class="title-wrapper pb-3 modal-heading">
                <h4 class="theme-name mb-0"><span>Modal 2 - </span>Result Modal</h4>
                <p>Example of Mofi login form.</p>
              </div>
              <div class="overflow-hidden"><img class="img-fluid" src="assets/images/alert/learning.png" alt="learning">
                <button class="btn btn-primary mx-auto mt-3" type="button" (click)="resultModal()">Click Out</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-12 custom-alert text-center">
          <div class="card-wrapper border rounded-3 h-100">
            <div class="Mofi-demo-img">
              <ul class="dot-group pb-3 pt-0">
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <div class="title-wrapper pb-3 modal-heading">
                <h4 class="theme-name mb-0"><span>Modal 3 - </span>Balance Modal</h4>
                <p>Example of Mofi dashboard balance card.</p>
              </div>
              <div class="overflow-hidden balance-modal"><img class="img-fluid" src="assets/images/alert/balance.png" alt="balance">
                <button class="btn btn-primary mx-auto mt-3" type="button" (click)="balanceModal()">Click Out</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>