.create-link-form {
    max-width: 60%;
    margin: auto;
}

.separator {
    width: 1px;
    height: 200px;
    background-color: #cacaca;
    margin: 2em;
}

.create-qr-form {
    max-width: 80%;
    margin: auto;
}