<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 set-col-12 box-col-12">
            <div class="card">
                <div class="blog-box blog-shadow"><img class="img-fluid" src="assets/images/blog/blog.jpg" alt="">
                    <div class="blog-details">
                        <p>25 July 2023</p>
                        <h5 class="text-white">People just don't do it anymore. We have to change that. Sometimes the
                            simplest things are the most profound.</h5>
                        <ul class="blog-social">
                            <li><i class="icofont icofont-user"></i>Mark Jecno</li>
                            <li><i class="icofont icofont-thumbs-up"></i>02 Hits</li>
                            <li><i class="icofont icofont-ui-chat"></i>598 Comments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 set-col-12 box-col-12">
            @for (data of blogData | slice:0:2; track data) {
            <div class="card">
                <div class="blog-box blog-list row">
                    <div class="col-sm-5"><img class="img-fluid sm-100-w" [src]="data.img" alt=""></div>
                    <div class="col-sm-7">
                        <div class="blog-details">
                            <div class="blog-date"><span>{{data.date}}</span> {{data.year}}</div>
                            <h5>{{data.details}}</h5>
                            <div class="blog-bottom-content">
                                <ul class="blog-social">
                                    <li>{{data.admin}}</li>
                                    <li>{{data.hits}} Hits</li>
                                </ul>
                                <hr>
                                <p class="mt-0">{{ data.details1 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        @for (details of blogData | slice:2:6; track details) {
        <div class="col-md-6 col-xxl-3 box-col-6">
            <div class="card">
                <div class="blog-box blog-grid text-center">
                    <img class="img-fluid top-radius-blog" [src]="details.img" alt="">
                    <div class="blog-details-main">
                        <ul class="blog-social">
                            <li>{{details.date}}</li>
                            <li>{{details.admin}}</li>
                            <li>{{details.hits}} Hits</li>
                        </ul>
                        <hr>
                        <h5 class="f-w-600">{{details.title}}</h5>
                        <p class="blog-bottom-details">{{details.details1}}</p>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>