<div class="container-fluid dashboard-4">
  <div class="row">
    <div class="col-xl-6 col-md-12 proorder-md-1">
          <app-common-education-data></app-common-education-data>
    </div>
    <div class="col-xl-6 col-md-6 proorder-md-2">
      <app-study-statistics></app-study-statistics>
    </div>
    <div class="col-xl-8 col-md-12 proorder-md-4">
      <app-assignments></app-assignments>
    </div>
    <div class="col-xl-4 col-md-6 proorder-md-5">
      <app-live-meeting></app-live-meeting>
    </div>
    <div class="col-xxl-4 col-xl-7 box-col-7 col-md-6 proorder-md-3">
      <app-actively-hours></app-actively-hours>
    </div>
    <div class="col-xxl-3 col-xl-5 box-col-5 col-md-6 proorder-md-6">
      <app-enrolled-classes></app-enrolled-classes>
    </div>
    <div class="col-xxl-5 col-xl-6 box-col-6 proorder-4-xl-1 proorder-md-7"> 
      <app-featured-courses></app-featured-courses>
    </div>
    <div class="col-xxl-7 col-xl-12 box-col-12 proorder-md-8">
      <app-monthly-attendance-report></app-monthly-attendance-report>
    </div>
    <div class="col-xxl-5 col-xl-6 box-col-6 proorder-md-9">
      <app-schedule></app-schedule>
    </div>
  </div>
</div>