<div class="md-sidebar" (clickOutside)="Outside()">
    <a class="btn btn-primary email-aside-toggle md-sidebar-toggle" (click)="isOpen =!isOpen">Learning filter</a>
    <div class="md-sidebar-aside job-sidebar" [class.open]="isOpen">
        <div class="default-according style-1 faq-accordion job-accordion" id="accordionoc">
            <div class="row">
                <div class="col-xl-12">
                    <app-find-course></app-find-course>
                </div>  
                <div class="col-xl-12">
                    <app-categories></app-categories>
                </div>
                <div class="col-xl-12">
                    <app-upcoming-courses></app-upcoming-courses>
                </div>
            </div>
        </div>
    </div>
</div>